.task {
    transition: 0.5s all;
}

.task:hover {
    transform: scale(1.02);
}

.task-link {
    color: #000 !important;
    text-decoration: none;
}

.navbar-link {
    text-decoration: none;
}

.buttons-wrapper {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    gap: 10%;
}

.profile-button {
    min-width: 300px;
    text-align: center;
}

.form-signin {
    width: 100%;
    max-width: 500px;
    padding: 15px;
    margin: auto;
}

.carousel {
    height: 40vh;
}

.carousel-inner,
.carousel-item {
    height: 100%;
}

.carousel-item img {
    height: 100%;
    object-fit: contain;
    object-position: center;
}

@media (max-width: 768px) {
    .dropdown-menu {
        position: relative;
    }
    .taskinfo-nav {
        justify-content: center!important;
    }
    .profile-nav {
        justify-content: center!important;
    }
}

.header-navbar {
    display: flex;
}